/* setting generic stuff */

@import url('https://fonts.googleapis.com/css?family=Raleway');

* {
    box-sizing: border-box;
    margin:0;
    border:0;
}
ul {
    list-style-type: none;
}

html,h1,h2,h3,h4,h5,h6,a{
    font-family: "Raleway"; 
    text-align: center;   
    margin-left: auto;
    margin-right: auto;
}

.main_img {
    width: 50%;
    height: auto;
    margin: auto;
    opacity: 0.3;
    
}

/* specific classes */

.body_settings {
    padding: 0;
}

.nav_bar {
    /* overflow:hidden; */
    background-color: gainsboro;
    display: flex;
    flex-direction: row;
    gap: 2%;
}

.nav_bar a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    color: blue;
    text-decoration: none;
    
}

.nav_bar a:hover {
    background-color: blueviolet;
    color: white
}

.nav_list a.active {
    color: blue;
}


.nav_bar .icon {
    display: none;
}

.main { /* main grid map */
    
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 3fr 1.5fr 0.5fr;

    grid-template-areas: 
        "A A B B"
        "C D E F"
        "G G G G";
}

.box_eng_to_exec {
    grid-area: A;
    background-color: rgb(77, 73, 85);
    
}

.box_exec_to_prog {
    grid-area: B;
    background-color: rgb(58, 160, 112);
}

.box1 {
    grid-area: C;
    background-color: rgb(48, 43, 98);
}

.box2 {
    grid-area: D;
    background-color: rgb(26, 26, 104);
}

.box3 {
    grid-area: E;
    background-color:rgb(91, 52, 117);
}
.box4 {
    grid-area: F;
    background-color:rgb(160, 82, 82);
}

.box_footer {
    grid-area: G;
    background-color: orange;
}

/* [class attributes common to boxes*/

[class*="box"]:hover {
    background-color: white;
    /* border: 2px solid gray; */
    color: blue;
    transition: 0.5s;
}

[class*="box"]:hover .text_faded {
    color: blue; 
}

.text_faded {
    /* color:rgb(76, 76, 206); */
    color: transparent;
} 

[class*="box"] {
    display: flex;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}


.text_faded_prog {
    color: rgb(230, 87, 87);
}

.mb {
    margin-bottom: 5px;
}

.plr {
    padding: 10px 10px;
}



/* responsiveness */

/* responsiveness for the layout */

@media all and (min-width: 600px) and (max-width: 1000px) {

    .main {
        
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 0.3fr 0.3fr 0.15fr;

        grid-template-areas: 
            "A A"
            "B B"
            "C D"
            "E F"
            "G G"
    }

}

@media all and (max-width: 600px) {
    .main {
        
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 0.3fr 0.3fr 0.3fr 0.3fr 0.15fr;

        grid-template-areas: 
            "A"
            "B"
            "C"
            "D"
            "E"
            "F"
            "G"
    }
}

/* responsiveness for the menu */

/* clears the menu items, displays the icon and bring the icon to the 1st position */
@media screen and (max-width: 600px) {
    .nav_bar li {display:none;}
    .nav_bar li.icon {
        display: inline;
        order: -1;}
    .nav_bar {justify-content: center;}

}

/* The "responsive" class is added to the nav_bar with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
    .nav_bar.responsive {
        flex-direction: column;
    }
    .nav_bar.responsive li {
        display: inline;
    }
}

