body {
    background-color: rgb(44, 43, 43);
}

.fill {
    background-image: url('http://source.unsplash.com/random/200x200');
    position:relative;
    height: 200px;
    width: 200px;
    top: 5px;
    left:5px;
}

.empty {
    display: inline-block;
    height: 210px;
    width: 210px;
    margin: 10px;
    border: 4px gray solid;
    background-color: honeydew;
}

.hold {
    border: solid red 5px;
}

.hovered {
    background-color: lightgray;
    border-style: dashed;
}

.invisible {
    display: none;
}
